<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="Description" content="Oded Falik" />
    <title>Oded Falik</title>
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/styles/styles.css" />
    <link rel="stylesheet" href="/styles/homepage.css" />
    <link rel="stylesheet" href="/styles/prism-theme.css"/>

    {% comment %} <base href="https://www.odedfalik.com/" target="_blank"> {% endcomment %}
  </head>
  <body>

    <main>
      {{ content }}
    </main>

  </body>
</html>
