<div class="links">
    <a href="https://github.com/odfalik" target="_blank"><i class="fontello icon-github"></i></a>
    <a href="https://www.linkedin.com/in/oded-falik-836b86178/" target="_blank"><i class="fontello icon-linkedin-circled"></i></a>
    <a href="mailto:Mail@OdedFalik.com" title="Mail@OdedFalik.com"><i class="fontello icon-mail"></i></a>
    {% comment %} <a href="/resume.html">RESUME</a> {% endcomment %}
    <a href="/assets/OdedFalik20201006.pdf">RESUME</a>
</div>