---
layout: base.liquid
---

<article class="post">
  <div class="header">
    <h1>{{ title }}</h1>

    {% if date %}
      <p>{{ date | date: "%b %Y" | downcase }}</p>
    {% endif %}

    {% if github %}
      <a href="{{ github }}" target="_blank" class="tdu">github</a>
    {% endif %}
  </div>

  <div class='content'>{{ content }}</div>
  <div class="back-link">
    <a href="/">â† Back</a>
  </div>
</article>
