$a: #313131;
$b: #ededed;
$g1: #8e2de2;
$g2: #4a00e0;
$g: linear-gradient(to right, $g1, $g2);

::selection {
  color: $b;
  background-color: $g2;
}
::-moz-selection {
  color: $b;
  background-color: $g2;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  background-color: $b;
  color: $a;

  margin: auto;
  max-width: 50em;

  > main { 
    padding: 4em;

    @media (max-width: 1000px) {
      padding: 2em;
    }

    .back {
      position: fixed;
      top: 1em;
      right: 1em;
      opacity: 50%;
      &:hover { opacity: 100%; }
    }

    overflow-x: hidden;
  }

  .home {
    // display: grid;
    // grid-template-columns: repeat(auto-fill, minmax(22em, 1fr));
    // grid-template-columns: 1fr 2fr;
    // grid-gap: 2em;
    // @media screen and (max-width: 1000px) { grid-template-columns: 1fr; }

    > section.posts {
      margin-top: 1em;
      text-align: right;

      li.post {
        margin-bottom: 2em;
      }
    }
  }

  canvas{
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    touch-action: none;
  }
}

blockquote {
  margin: 16px 0;
  padding: 0 1em;
  color: $a;
  border-left: 0.25em solid;
}

.herotype {
  font-size: 2.25em;
  font-weight: lighter;
  // text-align: justify;

  span.bold {
    font-size: 1.1em;
  }
}

a {
  color: $a;
  text-decoration: none;
  line-height: 1.4em;
  cursor: pointer;

  &:not(.tdu) {
    transition: all 0.2s;
    &:hover {
      color: $g1;
    }
  }
}

.tdu {
  background-image: $g;
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s;
  &:hover, &:focus { background-size: 100% 2px; }
}

.post-date {
  font-size: 0.8rem;
  opacity: 50%;
}

.links {
  opacity: 70%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
  justify-items: center;
  justify-content: space-between;
  > a {
    svg {
      height:   2.5em;
      width:    2.5em;
      transition: all 0.2s;
    }
    &:hover svg, &:focus svg { stroke: $g1; }
  }
}

.bold { font-weight: bold !important; }
.tac { text-align: center !important; }
.dib { display: inline-block !important; }
hr {
  margin: 1em 0 .5em 0;
  border: 0;
  height: 1px;
  background: $a;
  opacity: 20%;
}

article.post {
  .header {
    margin-bottom: 2em;

    .post-date {
      display: inline-block;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      text-transform: uppercase;
      font-size: 0.9em;
      margin: 1em 0;

      li {
        margin-right: 1.5em;
      }

      &.topics {
        opacity: 40%;
      }

      &.links {
        li {
          > a { color: $b; }
        }
      }
    }
  }

  img {
    margin: 2em auto;
  }

  .content {
    p { margin-bottom: 1em; }


    // Select all text wrapped in `` in markdown - generated a `code` tag without a language class
    // why? wish I knew
    code:not([class*="language-"]) {
      padding: 0.2em;
      padding-top: 1px;
      padding-bottom: 1px;
      background: #f8f8f8;
      border: 1px solid #dddddd;
    }
  }

}


@media screen and (prefers-color-scheme: dark) {
  body {
    color: $b;
    background: $a;
  }
  a { color: $b; }
  hr { background: $b; }
}

@media print {
  .hide-print { display: none; }
  body { background: white; }
}


.resume {
  text-rendering: optimizeLegibility;
  margin: auto;
  max-width: 50em;
  font-size: 0.9em;
  hr { margin: 1em 0; }
  h2 { font-size: 110%; }
  h3 { font-weight: lighter; font-size: 100%; }
  ul { list-style-type: circle; margin-left: 1.5em; }
  .subtitle { text-transform: uppercase; opacity: 75%; font-size: 85%; margin-bottom: 0.2em; }

  small.info { text-align: center; opacity: 75%; text-transform: uppercase; }

  .section {
    > h2 { text-align: center; margin-bottom: 0.25em; }
    .entry {
      margin-bottom: 1em;
      > h3 { margin-bottom: 0.1em; }
    }
  }

  .skills {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5em, 1fr));
    grid-gap: 1em 2em;
  }
}