$a: #343434;
$b: #ededed;
$g1: #8e2de2;
$g2: #4a00e0;
$g: linear-gradient(to right, $g1, $g2);

::selection {
  color: $b;
  background-color: $g2;
}
::-moz-selection {
  color: $b;
  background-color: $g2;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  background-color: $b;
  color: $a;

  > main { padding: 4em; }

  .home {
    display: grid;
    // grid-template-columns: repeat(auto-fill, minmax(22em, 1fr));
    grid-template-columns: 1fr 2fr;
    @media screen and (max-width: 1000px) { grid-template-columns: 1fr; }

    grid-gap: 2em;

    > section.posts {
      margin-top: 1em;
      // text-align: right;

      li.post {
        margin-bottom: 2em;
      }
    }

  }

  .links {
    opacity: 70%;
    .fontello {
      font-size: 3em;
      display: inline-block;
      margin-right: .5em;
      &::before { margin: 0; }
    }
  }
}

blockquote {
  margin: 16px 0;
  padding: 0 1em;
  color: $a;
  border-left: 0.25em solid;
}

h2.herotype {
  font-size: 3em;
  font-weight: lighter;
}

a {
  color: $a;
  text-decoration: none;
  line-height: 1.4em;
  cursor: pointer;
  
  &.tdu {
    background-image: $g;
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
    &:hover, &:focus { background-size: 100% 2px; }
  }
}

.post-date {
  font-size: 0.75em;
  opacity: 60%;
}

.fontello:hover {
  background-image: $g;
  // background: -webkit-linear-gradient(#eee, #333);
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bold { font-weight: bold; }
.tac { text-align: center; }

article.post {
  .header {
    margin-bottom: 2em;
  }
}

// @media (prefers-color-scheme: dark) {
//   body {
//     color: $b;
//     background: $a;
//   }
//   a { color: $b; }
// }

hr {
  margin: 1em 0;
  border: 0;
  height: 1px;
  background: rgba(0,0,0,0.5);
}

.resume {
  hr { margin: 1em 0; }
  h2 { font-size: 1em; }
  h3 { font-weight: lighter; }
}